/* GŁÓWNE STYLIZOWANIE STRONY */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #030816;
  color: white;
}

.app-theme {
  min-height: 100vh; /*vh czyli view height, wysokosc oona*/
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 25px 20px 30px 20px;
  text-align: center;
}

.app-header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  color: white;
}


.app-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr; /* panel srodkowy jest 1,5x wieksxy od lewego i prawego*/
  gap: 25px;
  padding: 0 15px 15px 15px;
  flex: 1;
  align-items: stretch;
}


.left-panel, .center-panel, .right-panel {
  display: flex;
  flex-direction: column;
}


.left-panel, .object-details, .discovery-form-container {
  background-color: #0c1527;
  border: 1px solid #172642;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}


.object-details, .discovery-form-container {
  flex: 1; /*rozciaga panele w dol*/
}


.list-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}


.list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  background-color: #030816;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #172642;
}

.list-item:hover {
  background-color: #131f38;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
}

.object-name {
  font-size: 0.9rem; /* czyli szerokosc to 90% tekstu bazowego*/
  font-weight: 500;
}


.object-details h2, .discovery-form-container h2, .catalog-list h2 {
  margin-top: 0;
  font-size: 1.3rem;
  color: #ffffff;
  border-bottom: 1px solid #172642;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.object-details h2{
  font-size: 1.4rem;
}

.no-selection {
  padding: 30px 20px;
  text-align: center;
  color: #475569;
}


.discovery-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  color: #94a3b8;
  font-size: 0.85rem;
}

.form-group input {
  background-color: #060b17;
  border: 1px solid #172642;
  padding: 10px 10px;
  border-radius: 6px;
  color: #ffffff;
}


.submit-btn {
  background: #4682b4;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.details-actions {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.action-btn {
  background: #172642;
  color: white;
  border: 1px solid #2e4a7d;
  padding: 12px 15px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.2s ease-in-out;
}

.action-btn:hover {
  background: #1e335a;
}

.delete-btn {
  background: #7a1f1f;
  border: 1px solid #992626;
}

.delete-btn:hover {
  background: #992626;
}

.details-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}